:host {
  --columns: 3;
  border: inset 10px black;
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
  margin: 0.5rem;
  padding: 0.5rem;
}

.viewer-toolbar p-progressBar {
  flex: 1 1 auto;
}

.image-gallery {
  display: grid;
  gap: 4px;
  grid-auto-flow: rows;
  grid-template-columns: repeat(var(--columns, 3), minmax(0, 1fr));
  overflow-y: auto;
  transition: 300ms;

  img,
  video,
  p-image {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}
