<p-toolbar class="viewer-toolbar">
  <p-button class="p-toolbar-group-start"
            (click)="openFolderSelector($event)">Select Folder?</p-button>
  <div class="spacer"></div>
  <div class="paginator">
    <p-paginator class="p-toolbar-group-center"
                 (onPageChange)="onPageChange($event)"
                 [first]="first()"
                 [rows]="itemsPerPage()"
                 [totalRecords]="files().length"
                 [showCurrentPageReport]="true"
                 [alwaysShow]="false"></p-paginator>
  </div>
  <div class="columns-input">
    <label for="columnInput">Columns </label>
    <input type="number"
           id="columnInput"
           name="columnInput"
           [ngModel]="columns()"
           (ngModelChange)="settings.updateSettings({columns: $event})"
           [min]="1"
           [max]="itemsPerPage()" />
  </div>
  <div class="count-input">
    <label for="countInput">Images per Page </label>
    <input type="number"
           id="countInput"
           name="countInput"
           [ngModel]="itemsPerPage()"
           (ngModelChange)="settings.updateSettings({itemsPerPage: $event})"
           [min]="1"
           [max]="25" />
  </div>
  <div class="refresh-button">
    <p-button icon="pi pi-refresh"
              [rounded]="true"
              (click)="forceRefresh()"></p-button>

  </div>
</p-toolbar>
<div class="image-gallery"
     [style.--columns]="columns()">
  @for (file of imageSlice(); track $index) {
  <div class="image-cell">
    @if (file[0].endsWith('.mp4')) {
    <video class="image"
           [title]="file[0]"
           [src]="getSrc(file[1])"
           preload="metadata"
           loop
           controls></video>
    } @else {
    <img class="image"
         [title]="file[0]"
         [src]="getSrc(file[1])"
         (click)="checkExifData($event, file[2])">
    }
  </div>
  }

</div>