:host {
  display: grid;
  grid-template: min-content minmax(0, 1fr) / minmax(0, 1fr);
  overflow: clip;

  & > router-outlet {
    display: none;
  }
}

.image-viewer-app-bar {
  padding: 0.125rem 0.5rem;
  h1 {
    margin: 0;
  }
}
