@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "modern-normalize";

html,
body {
  display: grid;
  grid-template: minmax(0, 1fr) / minmax(0, 1fr);
}

body {
  width: 100vw;
  height: 100vh;
}
